.dialogs {
    display: grid;
    /*grid-template-areas: 'dialog messages';*/
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    /*grid-area: dialog;*/
    padding: 10px;
}

.dialogsItems a {
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
    /*grid-area: messages;*/
}

.dialog .active {
    color: gold;
}